body{
	    font-family:  Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#navbartop{
	width:100%;
    background-color: #A4A4A4;
    padding:5px 0px 7px 0px;
}

#navbartop .pull-right a{
	font-size:12px;
	color:#eaeaea;
}

#navbartop .pull-right a{
	display: block;
	float: left;
	padding-top:5px;
}

#navbartop .pull-right a img{
	float:left;
	display: block;
	margin-top:2px;
	margin-right:5px;
}


#navbartop .pull-right span{
    padding: 0px 5px;
    color: #ccc;
    display: block;
    float: left;
    margin-top: 5px;
}

#navmobile{
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 40px;
    padding:0px 5px;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0px 0px 3px #999;
    -webkit-box-shadow: 0px 0px 3px #999;
    -moz-box-shadow: 0px 0px 3px #999;
}
#menumobile{
    width:30px;
    padding-top:12px;
    padding-right:5px;
}
#menumobile span{
    display: block;
    height: 3px;
    width:100%;
    background-color: #fafafa;
    margin-bottom: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

}
#collapsemenumo{
    width:100%;
    background-color: white;
    position: fixed;
    top:40px;
    left: 0px;
    width:100%;
    padding:12px 5px;
    z-index: 999; box-shadow: 0px 0px 3px #999;
    -webkit-box-shadow: 0px 0px 3px #999;
    -moz-box-shadow: 0px 0px 3px #999;
    overflow: auto;
    display: none;
    max-height: 92%;
}
#collapsemenumo hr{
    margin:12px 0px;

}
#searchmobile{
    width:100%;
    background-color: white;
    border:1px solid #ddd;
    display: block;
   border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding:5px 10px 4px 10px;
    position: relative;
}
#searchmobile .searchinput{
    width:92%;
    border:0;
    outline: none;
}
#searchmobile .searchbtn{
    border: 0;
    outline: none;
    width:16px;
    position: absolute;
    top:6px;
    right: 10px;
}
#boxmenumobile1 img{
    display: none;
}
#boxmenumobile1 h2{
    font-size:15px;
    color:#777;
    margin-left:5px;
    margin-bottom: 7px;
}
#boxmenumobile1 li{
    list-style: none;
    margin-left:7px;
    margin-bottom: 5px
}
#boxmenumobile1 li a{
    font-size: 15px;
}
#boxmenumobile2 a{
    display: block;
    margin-bottom:5px;
    margin-left:5px;
}
#boxmenumobile2 i{
    font-style: normal;
}
#boxmenumobile2 span{
    display: none;

}
#tass i{
    font-style: normal;
}

#qctop{
    padding-right: 0px;
}

#qctop img{
    height: 80px;
    max-width: 100%;
    width: 100%;
}

.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m {
    padding: 0 2px;
}

.at16nc {
    background: url(../images/iconshare.png) no-repeat;
    overflow: hidden;
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    line-height: 20px !important;
    margin-right: 15px;
}

.at16nc.at16t_twitter {
    background-position: -19px 0px;
}

.at16nc.at16t_google {
    background-position: -39px 0px;
}

.at16nc.at15t_zingme {
    background-position: -59px 0px;
}

.at16nc.at16t_email {
    background-position: -80px 0px;
}

.at16nc.at16t_print {
    background-position: -100px 0px;
}


a{
	color:#232323;
}

a {
    font-family: "Segoe UI",Helvetica, Arial, 'lucida grande' ,tahoma,verdana,arial,sans-serif;
}

.block{
	display: block;
}

#banner{
	padding:30px 0px 10px 0px;
}

#email{
	margin-left:15px;
}

#email img{
    height:47px;
}

#hotline a,#email a {
    font-size: 13px;
    font-weight: bold;
    color: #000000;
}

#hotline span,#email span {
    margin-left: 7px;
}

#qctop{
    margin-top: -20px;
}

#headermenu {
    background-color: #009688;
    width: 100%;
    height: 45px;
    border-bottom: 2px solid #133783;
    -webkit-box-shadow: 0px 0px 1px #000;
    -moz-box-shadow: 0px 0px 1px #000;
    box-shadow: 0px 0px 1px #000;
    line-height: 45px;
    color: white;
}

#headermenu .container {
    position: relative;
}


#headermenu .ddanhmuc {
    position: absolute;
    left: 0px;
    top:13px;
}

#headermenu .danhmuc {
    position: relative;
}
#headermenu .danhmuc a{
	text-decoration: none;
}

#headermenu .danhmuc h2 {
    font-weight: normal;
    color: white;
        font-size: 1.5em;
    margin-left: 30px;
    height: 30px;
}

#headermenu .danhmuc ul {
    position: absolute;
    background: #fff;
    border: 1px solid #c6c6c6;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.2);
    padding: 4px 0px;
    margin: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    z-index: 99;
    position: absolute;
    width: 190px;
    left: 15px;
    top: 27px;
    border: 1px solid #d5d4cc;
    line-height: normal;
    display: none;
}

#headermenu .danhmuc:hover ul {
    display: block;
}

#headermenu .danhmuc ul img {
    display: block;
    position: absolute;
    top: -8px;
    left: 137px;
}

ul li {
    list-style: none;
}

#headermenu .danhmuc ul li a {
    display: block;
    padding: 12px 12px;
    color: #333;
    font-weight: bold;
    border-bottom: 1px dotted #ccc;
    font-size: 15px;
}



#headermenu .ssearch {
    position: absolute;
    left: 180px;
        margin-top: 11px;
        width:60%;
}

#headermenu .search {
    margin-left: 70px;
    position: relative;
    width:100%;
}

#headermenu .search #qsearch {
    border: 0;
    outline: none;
    padding-left: 30px;
    width: 70%;
    background: #fff;
    float: left;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -ms-border-radius: 5px 0px 0px 5px;
    -o-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    height: 28px;
    padding-right: 30px;
    margin-top: -3px;
        color: #333;
        line-height: normal;
}

#headermenu .search #ssearch {
    border: none;
    margin-left: -20px;
    height: 30px;
    margin-top: -3.6px;
    width: 100px;
    float: left;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -ms-border-radius: 0px 5px 5px 0px;
    -o-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    border-left: 1px solid #dbdbdb;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.5);
    -moz-box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.5);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.5);
    color: #404040;
    font-size: 15px;
        line-height: normal;
    font-weight: normal;
    background: #fbf8f1;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,#fbf8f1 0%,#f6f1e5 76%,#f2ecdf 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fbf8f1),color-stop(76%,#f6f1e5),color-stop(100%,#f2ecdf));
    background: -webkit-linear-gradient(top,#fbf8f1 0%,#f6f1e5 76%,#f2ecdf 100%);
    background: -o-linear-gradient(top,#fbf8f1 0%,#f6f1e5 76%,#f2ecdf 100%);
    background: -ms-linear-gradient(top,#fbf8f1 0%,#f6f1e5 76%,#f2ecdf 100%);
    background: linear-gradient(to bottom,#fbf8f1 0%,#f6f1e5 76%,#f2ecdf 100%);
}

body, h1, h2, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
    margin-left: 2px;
    margin-right: 2px;
    text-align: justify;
}

#headermenu .cart a {
    background-color: #0000FF;
    display: block;
    height: 30px;
    margin-left: 100px;
    margin-top: 7px;
    line-height: 30px;
    padding: 0px 15px 0px 45px;
    background-image: url("../images/v3_cart.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: absolute;
    right: 169px;
}

#headermenu .addbook a {
    background-color: #800000;
    display: block;
    height: 30px;
    margin-left: 95px;
    margin-top: 7px;
    line-height: 30px;
    padding: 0px 15px 0px 35px;
    background-image: url("../images/ic_edit.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: absolute;
    right: 30px;
}

#headermenu .danhmuc ul li:last-child a {
    border-bottom: 0;
}

#headermenu .danhmuc ul li a:hover {
    color: #3b5998;
}

.contentmain{
	margin-top:20px;
    margin-bottom: 20px;
}

.brightf {
    margin-bottom: 20px;
}

#byoutube .itemboxy {
    position: relative;
    padding-bottom: 10px;
}

#byoutube .itemboxy h3 {
    padding:0px;
    font-size: 1.1em;
    padding-top: 10px !important;
    font-weight: bold;
    margin:0px;
}

#byoutube .itemboxy img {
    width: 98%;
    box-shadow: 0px 0px 5px #999;
    -moz-box-shadow: 0px 0px 5px #999;
    -webkit-box-shadow: 0px 0px 5px #999;
}

#byoutube .itemboxy:hover {
    cursor: pointer;
}

#byoutube{
    padding-bottom:0px;
}

.bright {
    padding: 15px;
    padding-bottom: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    -moz-box-shadow: 0 4px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 4px 0 rgba(0,0,0,0.2);
    box-shadow: 0 4px 0 rgba(0,0,0,0.2);
}
.bright h2 {
    font-weight: normal;
    font-size: 14px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}

.bright h2 a{
    float:right;
    font-size:12px;
    display: block;
    margin-top:5px;
}

.bright .contentbox {
    padding: 7px 0px;
}

#footer{
    padding:10px;
    text-align: center;
    color:#ccc;
}

#footer a{
    color:#2980B9;
    font-size:13px;
}



.brightf{
    margin-top:10px;
}

.boxbook .item{
    height:100px;
    overflow: hidden;
    margin-top: 10px;
    padding-bottom:10px;
    border-bottom: 1px dotted #ccc;
}
.boxbook .item:last-child{
    border-bottom: 0;
}
.boxbook .item .imagebook{
    margin-right:8px;
}

.boxbook .item .namebook a,.boxbook .item .namebook span{
    display: block;
}

.boxbook .item .namebook a{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    color:#555;
}

.boxbook .item .namebook span{
    color: #999;
    margin-bottom: 3px
}

.boxbook .item .imagebook,.boxbook .item .imagebook img{
    height:90px;
    width:62px;
}

#breadcrumb-global {
    margin: 5px 0 15px 0px;
}
#breadcrumb-global ul{
    margin-left: 0px;
}
#breadcrumb-global li {
    float: left;
    margin: 0 5px 0 0;
}

#breadcrumb-global a {
    color: #5b5b5b;
    font-size: 12px;
    display: block;
    float: left
}

#breadcrumb-global li b {
    font-size: 11px;
    display: block;
    float:left;
    margin-top: 2px;
}

#breadcrumb-global li span{
    display: block;
    float:left;
}
#qcfooter{
    margin-top: 15px
}
#qcfooter a div{
        width: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
}

#dialogLogin .ct{
    position: relative;
}

#dialogLogin.block{
    height: 120px !important;
}

#dialogLogin.block .ct{
    height: 80px !important;
}

#dialogLogin .ct #progressicon{
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    background-image:url("../images/loadpage.gif");
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 100;
    display: none;
}


@media(max-width: 1200px){
	#headermenu .ssearch{
		width:45%;
	}
}
    


@media (min-width: 768px) and (max-width:992px){
	#headermenu .ssearch{
		width:77%;
	}
}


@media(max-width: 768px){
   
    #bbrightt{
        padding-left:5px;
        padding-right:5px;
    }
    body{
        padding-top:40px;
    }
    body.showmenumo{
        overflow: hidden;
    }
}