.dimb{
	position: fixed;
	background-color: black;
	z-index: 2000;
	display: none;
	width: 100%;
	height: 100%;
	left:0px;
	top: 0px;
	opacity: 0.5;
}
.dialog{
	position: fixed;
	z-index: 2100;
	background-color: white;
	display: none;
}
.dialog .ct{
	padding: 10px 20px;
	overflow: auto;
}
.dialog .header{
	background-color: #f5f6f7;
    border-bottom: 1px solid #e5e5e5;
    color: #4e5665;
    font-weight: bold;
    line-height: 19px;
    padding: 10px 12px;
    font-size:13px;
}
.dialog .header .closedialog{
	float:right;
	margin-top:2px;
	color:#999;
	background-image: url("http://transmisionempresas.reempresa.org/imgfiles/front/imatges/window-close.png");
	display: block;
	width: 16px;
    height: 16px;
    opacity: 0.5;
}
.dialog .header .closedialog:hover{
	opacity: 1;
	cursor:pointer;
}
.dialog hr{
	border-top:1px solid #ccc;
}
#dialog,#dialog2,#dialog3,#dialogvideo,#dialogLogin{
	display: none;
}
#dialog1 #facebookicon,#dialog1 #googleicon{
	display: block;
	background-position: center left;
	padding-left: 20px;
	background-repeat: no-repeat;
	float: left;
}
#dialog1 #facebookicon{
	background-image: url("../images/icon-facebook-16x15.png");
}
#dialog1 #googleicon{
	background-image: url("../images/googleplus_small_1.png");
	margin-left: 20px;
}