.title,.nmucluc{
	text-align: center;
	font-size: 28px;
	margin-bottom: 10px;
}
.title{
	    color: #690;
	        text-transform: uppercase;
    font-family: "Roboto Condensed",Tahoma,sans-serif;
}
.contentreads{
	padding:15px 7px;
	margin-bottom: 7px;
}
#breadcrumb-global{
	margin-bottom: 5px;
}
#bbrightt{
	margin-top: 15px;
}
.nmucluc{
	font-size: 20px;
	padding-bottom: 15px;
	color:#333;
}
#content{
	line-height: 20px;
	font-size: 17px;
	    font-family:"Times New Roman",serif;
}
#option{
	margin: 10px 0px;
	display: none;
}
#option select{
	padding:3px 5px;
	border:1px solid #ccc;
}
.navigator{
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
	display: none;
}
.listchuong{
	margin-top:15px;
	margin-bottom:15px;
}
.listchuong select{
	padding:3px 5px;
	border:1px solid #ccc;
	max-width:200px;
}

#qcbv img{
	max-width: 100%;
	margin: 10px 0px;
	display: block;
	border:1px solid #ccc;
	padding:5px;
	width:100%;
}
#ngheaudio{
	width:300px;
	margin: 0px auto;
}
#xemvideo{
	width:560px;
	margin:10px auto;
}
#xemvideo iframe{
	height: 315px;
}
#imagemucluc{
	display: block;
	margin: 10px auto;
	max-width: 100%
}
@media(max-width:560px){
	#xemvideo{
		width:90%;
	}
	#xemvideo iframe{
		width:100%;
		height: auto !important;
	}
	.navigator .btn{
		padding: 3px 7px;
	}
}