#slide a, #slide a img {
    width:100%;
    height: 380px;
}

#slide a img{
    max-width: 100%;
}

#slide #contentslide a{
      display: none;
}

#slide {
    position: relative;
}

#slide {
    margin-top: 10px;
    overflow: hidden;
}

#slide #prev {
    background-position: top left;
    left: 30px;
}

#slide #next {
    background-position: top right;
    right: 30px;
}

#slide #next, #slide #prev {
    background-image: url("../images/arrows.png");
    background-repeat: no-repeat;
    height: 45px;
    width: 45px;
    position: absolute;
    top: 40%;
    cursor: pointer;
}

#slide .slidehide {
    display: none;
}

#slide #arrow {
    position: absolute;
    right: 20px;
    bottom: 5px;
}

#slide #arrow li {
    background-image: url("../images/bullet.png");
    width: 15px;
    height: 15px;
    background-position: center top;
    float: left;
    display: block;
}

#slide #arrow li:hover{
    background-position: center center; 
    cursor: pointer;
}
#slide #arrow li.active:hover{
    background-position: center bottom;
}

#slide #arrow li.active {
    background-position: center bottom;
}

#slide:hover .slidehide {
    display: block;
}

.box {
    margin-bottom: 20px;
}

.box h2 {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
    color: #3b5998;
        font-size: 1.5em;
        font-weight: bold;
}

.box .contentbox .item {
    height: 250px;
    float: left;
    margin-top: 15px;
}

.box h2 a {
    float: right;
    font-size: 12px;
    margin-top: 10px;
    font-weight: normal;
}

.box .contentbox .item .image, .box .contentbox .item .image img {
        width: 115px;
    height: 168px;
    margin: 0px auto;
}

.box .contentbox .item .image {
    margin-bottom: 7px;
}

.box .contentbox .item a {
    color: #555;
    font-weight: 550;
    font-size: 12px;
}

.box .contentbox .item h3 {
    height: 35px;
    overflow: hidden;
    width: 70%;
    margin: 0px auto;
    text-align: center;
    font-size: 1.28em;
    font-weight: bold;
}

.box .contentbox .item a:hover {
    text-decoration: underline;
}

.box .contentbox .item .tacgia {
    height: 18px !important;
    overflow: hidden;
    display: block;
    width: 100%;
    line-height: 18px;
    color: #747474;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.box .contentbox .item p {
    color: #c02026;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.box .contentbox .item p s{
	color:#999;
	font-size:11px;
}

@media(max-width:768px){
    #slide a, #slide a img {
        width:100%;
        height: 200px;
    }

    .box .contentbox .item p s{
        display: block;
    }
}

@media (min-width: 768px) and (max-width:992px){
   #slide a, #slide a img {
        width:100%;
        height: 250px;
    }
}


@media (min-width: 992px) and (max-width:1200px){
    .box .contentbox .item p{
        font-size:11px;
    }
    .box .contentbox .item p s{
        font-size:11px;
    }
    .box .contentbox .item h3{
        width:80%;
    }
}