#title{
	font-size:20px;
	margin-left:0px;
}
#navvv{
	border-bottom: 1px dashed #eee;
	padding-bottom: 5px;
}
#navvv small{
	font-size:11px;
	margin-top:7px;
	color:#777;
	display: block;
	float: left;
}
#contentpage{
	margin: 10px 0px;
}